h1{
    color: #f2b10e;
    font-family: cursive
    
}
p{
    color: aliceblue;
    font-size: x-large;
}

#messageEl{
    font-style: italic;
}

body{
    background-color: rgba(18, 104, 18, 0.884);
    background-size: cover;
    text-align: center;
    margin-top: 50px;
    font-family: cursive;
}

#start-btn{
    padding: 2px 15px 2px 15px ;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color:#f2b10e ;
    color: rgba(18, 104, 18, 0.884);
    cursor: pointer;
    font-weight: bold;
    font-size: x-large;
    margin: 10px;
    font-family: cursive;
}
#start-btn:hover{
    background-color: aliceblue;
}
